# **START** Media Player Conditionals
{%- for state in states.media_player %}
      - type: conditional
        conditions:
          - entity: {{ state.entity_id }}
            state_not: "off"
          - entity: {{ state.entity_id }}
            state_not: "unknown"
{%- if is_state_attr(state.entity_id, "supported_features", 21437) %}
          - entity: {{ state.entity_id }}
            state_not: "unavailable"
{%- elif is_state_attr(state.entity_id, "supported_features", 19004) %}
          - entity: {{ state.entity_id }}
            state_not: "idle"
{%- endif %}
        card:
          type: media-control
          entity: {{ state.entity_id }}
{%- endfor %}
# **END** Media Player Conditionals
